name: "Deploy Quarto Site"

on:
  push:
    branches: ["main"]
  workflow_dispatch:  # Permet le déclenchement manuel

jobs:
  deploy:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"
      
      - name: "Set up Python"
        uses: "actions/setup-python@v5"
        with:
          python-version: '3.11'
          cache: 'pip'
      
      - name: "Install Python dependencies"
        run: |
          pip install --upgrade pip
          pip install jupyter numpy pandas matplotlib scikit-learn ipywidgets seaborn scipy plotly
      
      - name: "Install Quarto"
        run: |
          wget -q https://github.com/quarto-dev/quarto-cli/releases/download/v1.4.553/quarto-1.4.553-linux-amd64.deb
          sudo dpkg -i quarto-1.4.553-linux-amd64.deb
      
      - name: "Build site"
        run: "quarto render"
      
      - name: "Deploy"
        uses: "peaceiris/actions-gh-pages@v3"
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          publish_dir: "./docs"  # Changé de _site à docs
          force_orphan: true